/* root */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* main tags  */
body {
    background-color: #AfAfAf;
    padding-left: 1rem;
    padding-top: 8px;
}

header {
    color: var(--my-color, red);
    text-decoration: underline;
    text-align: center;
    position: relative;
}

h1 {
    color: blue;
}

section {
    padding-top: 1rem;
    padding-right: 2vw;          /* relative: vw */
    padding-bottom: 1rem;
    padding-left: 2vw;
}

li {
    line-height: 1.6;
}

/* dynamic tags  */
a:hover {
    text-decoration: underline;
}
p:hover {
    color: var(--accent-color);
}

header, footer {
    padding: 1rem;
    background-color: var(--primary-color);
    color: #fff;
}

header > h1 {
    font-size: 2.5rem;
}

/* different queries  */

#main-header {
    text-transform: uppercase;
}
  
h2 + ul {
    list-style: square;
}
  
h2 ~ p {
    font-style: italic;
}

img[alt="Architecture Diagram of Conspiracies"] {
    border: 2px dashed var(--accent-color);
}

section:has(img) {
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }

  /* example of theoretical nested id */
/* .header {
    padding: 1rem;
  
    & body {
      margin-top: 1rem;
  
      & li {
        margin-left: 1rem;
        list-style: circle;
      }
    }
} */

/* media query  */

@media (min-width: 1400px) {
    body {
      display: grid;                               /* grid container */
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* columns */
      gap: 1rem;                                    /* gap */
      align-items: start;                           /* align-items */
    }
  
    /* restore subtitle under wide layouts */
    header h2 {
      display: block;  /* block */
    }
  }